<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.webServer>
    <rewrite>
        <rules>
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>-->
<appSettings/>
  <connectionStrings>
    <!--<add name="www.ITFY-Edu.net" connectionString="Data source=.; Initial Catalog=ArnSystem2020New; Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="www.ITFY-Edu.net" connectionString="Data source=.; Initial Catalog=ArnSystem2021_03_02; Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="ar-YE" culture="ar-YE"/>
    <!--<globalization uiCulture="ar" culture="ar-SA" />-->
    <sessionState timeout="540"/>
    <machineKey validationKey="EAA61E7B9FA6AC8A07D74504D1FC32E04FAC26AE6E7C5FF13F195B0015EDC94EAFBB743B6D1DEC53AF495E2D7E0F1304452B33A4A1CF08418A81BD7D6B66D2A4" decryptionKey="4A9C24A893EA1447AEC41E040CDD98664748CE46B9DF9F88D3874100CA5F9D6E" validation="SHA1" decryption="AES"/>
    <httpRuntime maxRequestLength="1002400" executionTimeout="7200" enableVersionHeader="false" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"></customErrors>
    <!--<authentication mode="Windows"/>-->
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPage.htm">
      <error statusCode="403" redirect="~/ErrorPage.html"/>
      <error statusCode="404" redirect="~/ErrorPage.html"/>
      <error statusCode="500" redirect="~/ErrorPage.html"/>
    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
